$mygame-font-headers: 'Orbitron', 'Segoe UI', Roboto, sans-serif;
$mygame-font-data: 'Rajdhani', 'Arial Clean', sans-serif;

$mygame-tab-active-bg: #d62d16; // Bright Red-Orange
$mygame-tab-active-txt: #ffffff; // Pure White

$mygame-tab-inactive-bg: #521e17; // Translucent Dark Maroon
$mygame-tab-inactive-txt: #b59c99;